body{
    background-color: rgb(56, 71, 119);
    color: white;
}

#container{
    text-align: center;
    margin-top: 30%;
}

.material-symbols-outlined{
    font-size: 250px;
    text-align: center;
}

#dynamic {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

#dynamic::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: white;
}

/* 커서 깜빡임 효과를 주기위한 클래스 값 .active*/
/* active 클래스가 있으면 보이지 않음 */
#dynamic.active::after{
    display: none; 
} 
